*.class

# Package Files #
*.jar
*.war
*.ear

/*/target/
target/

/**/tmp/
/**/logs/
droid-results/profiles/myProfile
droid-command-line/src/test/resources/temp/*
droid-report/myPdf.pdf

.idea/**
/*/.idea/**
*.iml
/*/*.iml
